article.fivee__snippet {
  --fivee-col-primary: #9c1910;
  --fivee-col-txt: #000;
  --fivee-col-bg: #fff;
  --fivee-col-txt-muted: #404040;

  --fivee-font-title: "Gill Sans", Arial, sans-serif;
  --fivee-font-body:
    ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  font-family: var(--fivee-font-body);
  color: var(--fivee-col-txt);
  background-color: var(--fivee-col-bg);
  line-height: 1.25;
  max-width: 60ch;
  padding: 1rem;

  .fivee {
    &__dice {
      font-weight: 800;
    }

    &__spell {
      &__name {
        font-size: 1.25em;
        font-weight: 600;
        color: var(--fivee-col-primary);
        font-family: var(--fivee-font-title);
        margin-block: 0;
        line-height: 1;
      }

      &__level-school-ritual {
        font-style: italic;
        margin: 0;
        color: var(--fivee-col-txt-muted);
      }

      &__metadata {
        margin: 0;
        margin-top: 0.75em;
        margin-left: 2em;
        text-indent: -2em;

        &__key {
          font-weight: bold;
          display: inline;

          &::after {
            content: ":";
          }
        }

        &__value {
          display: inline;
          margin: 0;
        }
      }

      &__description {
        p {
          margin: 0;

          & + p {
            text-indent: 1em;
          }
        }

        ul, ol {
          padding-left: 1rem;
          margin-block: 0.5rem;

          li + li {
            margin-top: 0.25rem;
          }
        }
      }
    }
  }
}
