:root {
  --srd-col-primary: #9c1910;
  --srd-font-sans: 'Gill Sans', Arial, sans-serif;
}

.fivee {
  &__snippet {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }

  &__spell {
    max-width: 60ch;
    padding: 1rem;

    &__name {
      font-size: 1.25em;
      font-weight: 600;
      color: var(--srd-col-primary);
      font-family: var(--srd-font-sans);
      margin-top: 0;
      margin-bottom: 0.125em;
    }

    &__level-school-ritual {
      font-style: italic;
      margin: 0;
    }

    &__metadata {
      margin: 0;
      margin-top: 0.75em;
      margin-left: 2em;
      text-indent: -2em;

      &__key {
        font-weight: bold;
        display: inline;

        &::after {
          content: ':'
        }
      }

      &__value {
        display: inline;
        margin: 0;
      }
    }

    &__description {
      p {
        margin: 0;

        & + p {
          text-indent: 1em;
        }
      }

      ul, ol {
        padding-left: 1rem;
        margin-block: 0.5rem;

        li + li {
          margin-top: 0.25rem;
        }
      }
    }
  }
}